iterm2
raycast
waveterm
Microsoft*
Application*
Comms
Connected*
D3*
g*
G*
HP
Icon*
Jedi
JetBrains
k9s
KeePass
npm*
NVIDIA
nView*
nvim*
oh-my-posh
ollama
Package*
HereRocks
LuaRocks
Postman
Programs
Publishers
SoundResearch
SquirrelTemp
Temp
fnm*
pip
podman*
pypa
pypoetry
staticcheck
uv
warp
nvim/*.json
