iterm2
raycast
waveterm
Microsoft*
Application*
Comms
Connected*
D3*
gk
go*
Go*
HP
Icon*
Jedi
JetBrains
k9s
KeePass
npm*
NVIDIA
nView*
nvim-data*
nvim.bak
oh-my-posh
ollama
Package*
HereRocks
LuaRocks
Postman
Programs
Publishers
SoundResearch
SquirrelTemp
Temp
fnm*
pip
podman*
pypa
pypoetry
staticcheck
uv
warp
nvim/lazy-lock.json
nvim/lazyvim.json
lazygit
History
Temp*
